@model IEnumerable<JobsApp.Models.AnnouncementModel>

@{
    ViewData["Title"] = "MyAnnouncements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Announcements</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idannouncement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idprofile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idannouncement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idprofile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceLevel)
            </td>
            <td>
                <div>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Idannouncement  })
                </div>
                <div>
                    @Html.ActionLink("Details", "Details", new {  id=item.Idannouncement  })
                </div>
                <div>
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Idannouncement  })
                </div>   
            </td>
        </tr>
}
    </tbody>
</table>
